
ServerBoost.opensdf
ConsoleApplication1/Debug/ConsoleApplication1.log
ConsoleApplication1/Debug/CL.read.1.tlog
ConsoleApplication1/Debug/CL.read.1.tlog
ConsoleApplication1/Debug/CL.write.1.tlog
*.tlog
*.tlog
ConsoleApplication1/Debug/CL.read.1.tlog
*.obj
*.idb
ConsoleApplication1/Debug/CL.write.1.tlog
ConsoleApplication1/Debug/CL.write.1.tlog
ConsoleApplication1/Debug/ConsoleApplication1.log
ConsoleApplication1/Debug/server.Build.CppClean.log
ConsoleApplication1/Debug/server.lastbuildstate
ConsoleApplication1/Debug/vc110.pdb
Debug/server.pdb

